@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.celebritiesBg {
  background-image: url(../src/img/celebritiesBg.png);
  background-color: rgb(202, 162, 87);
}
.filmsBg {
  background-image: url(../src/img/filmsBg.jpg);
}
.genKnowledgeBg {
  background-image: url(../src/img/genKnowledgeBg.jpg);
}
.geographyBg {
  background-image: url(../src/img/geographyBg.jpg);
  background-size: contain;
}
.historyBg {
  background-image: url(../src/img/historyBg.jpg);
}
.musicBg {
  background-image: url(../src/img/musicBg.jpg);
}
.sportsBg {
  background-image: url(../src/img/sportsBg.jpg);
}
.tvBg {
  background-image: url(../src/img/news-644844_1920.jpg);
  background-color: gold;
  background-blend-mode: overlay;
  background-size: cover;
}
.vehiclesBg {
  background-image: url(../src/img/vehicleBg.jpg);
}

.guyCelebrities {
  background-image: url(../src/img/guyCelebrities.png);
}
.guyFilms {
  background-image: url(../src/img/guyFilms.png);
}
.guyGenKnowledge {
  background-image: url(../src/img/guyGeneral.png);
}
.guyGeography {
  background-image: url(../src/img/guyGeography.png);
}
.guyHistory {
  background-image: url(../src/img/guyHistory.png);
}
.guyMusic {
  background-image: url(../src/img/guyMusic2.png);
}
.guySports {
  background-image: url(../src/img/guySports.png);
}
.guyTv {
  background-image: url(../src/img/guyTv.png);
}
.guyVehicles {
  background-image: url(../src/img/guyVehicles.png);
}

.guy {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0 0 50px;
}

.generalBg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.genContainer {
  background-color: black;
  height: 350px;
  width: 800px;
  margin: 20px 0 0 100px;
}
.genBtn {
  margin: 5% auto;
  width: 500px;
  color: black;
  font-size: 20px;
  background-color: rgb(228, 163, 41);
  outline: none;
  border: none;
}

.genBtn:focus,
.genBtn:active {
  outline: 0;
  outline-color: transparent;
  box-shadow: none;
  border: none;
}

.mainContainer {
  width: 900px;
  height: 600px;
  border: 2px solid black;
  border-radius: 20px 20px;
  margin: 14% auto;
  background-color: black;
  color: rgb(228, 163, 41);
}
h2 {
  margin: 60px 80px 0 80px;
}
.headingBox {
  height: 100px;
}
#nextBtn {
  position: fixed;
  outline: none !important;
  bottom: 250px;
  right: 520px;
  width: 120px;
  background: repeating-linear-gradient(
    45deg,
    #ffc800,
    #ffc800 5px,
    #ffc200 5px,
    #ffc200 10px
  );
  font-family: "Carter One", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px black, -2px 2px 1px rgb(26, 24, 24),
    2px -2px 1px rgb(36, 35, 35), -2px -2px 1px rgb(36, 32, 32),
    0px 2px 1px black, 0px -2px 1px rgb(5, 5, 5), 0px 4px 1px gray,
    2px 4px 1px gray, -2px 4px 1px gray;
  border: none;

}
#nextBtn:focus, #nextBtn:active,.outlineBtn:focus, .outlineBtn:active{
  outline: none !important;
  box-shadow: none;
}
.nextBtn:hover,
.backBtn:hover,
.genBtn:hover,
.helpBtn:hover {
  background-color: rgb(228, 163, 41);
  color: black;
  border: 2px solid black;
}

.coin {
  width: 75px;
  height: 75px;
  background-image: url(../src/img/rsz_bag-147782_1280.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.scoreBox {
  width: 220px;
  height: 90px;
  color: rgb(228, 163, 41);
  background-color: black;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  padding-left: 20px;
  border-radius: 40px 40px;
}
.scoreBox div {
  display: inline-block;
}
.score {
  margin-top: 10px;
}

.home {
  width: 60vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/img/quiz-2074324_1920.png);
  margin: 5% auto;
}
.homeBg {
  background-image: url(../src/img/nathan-dumlao-J2gEgTPM_OA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.gen-bg {
  background-image: url(../src/img/category-homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}
footer {
  padding: 50px;
  width: 100%;
  background-color: #c79c7196;
  position: fixed;
  bottom: 0;
}
.playBox {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 30px;
  right: 30px;
  color: white;
  padding: 12px;
}
.categoryBox {
  width: 220px;
  height: 150px;
  background: rgb(228, 163, 41);
  border-radius: 20px 20px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.categoryBox a,
a:visited {
  color: black;
}
.categoryBox a:hover {
  text-decoration: none;
}
.helpBtn {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  color: rgb(228, 163, 41);
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}
#askFriend {
  position: fixed;
  z-index: 2;
  right: 300px;
  display: block;
  top: 370px;
}
#help50 {
  position: fixed;
  z-index: 2;
  right: 300px;
  display: block;
  top: 520px;
  padding-top: 25px;
  font-weight: bold;
}
.backBtn {
  position: fixed;
  z-index: 1;
  left: 100px;
  bottom: 50px;
  background-color: black;
  color: rgb(228, 163, 41);
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  font-weight: bold;
  border-radius: 40px 40px;
}
.generalContainer {
  margin-top: 170px;
}
.playBtn {
  width: 300px;
  height: 80px;
  font-size: 50px;
  font-weight: bold;
  background: url(../src/img/rsz_quiz-2074324_1920.png);
  display: block;
  margin: auto;
  border-radius: 40px 40px;
  border: #603813 3px solid;
  color: #603813;
  text-shadow: black 2px 2px;
}
a:hover {
  text-decoration: none;
}
.aboutBtn {
  background: url(../src/img/rsz_quiz-2074324_1920.png);
  width: 120px;
  height: 50px;
  border-radius: 40px 40px;
  border: #603813 3px solid;
  color: #603813;
  text-shadow: black 1px 1px;
}
