@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.celebritiesBg {
  background-image: url(../src/img/celebritiesBg.png);
}
.filmsBg {
  background-image: url(../src/img/filmsBg.jpg);
}
.genKnowledgeBg {
  background-image: url(../src/img/genKnowledgeBg.jpg);
}
.geographyBg {
  background-image: url(../src/img/geographyBg.jpg);
  background-size: contain;
}
.historyBg {
  background-image: url(../src/img/historyBg.jpg);
}
.musicBg {
  background-image: url(../src/img/musicBg.jpg);
}
.sportsBg {
  background-image: url(../src/img/sportsBg.jpg);
}
tvBg{

}
.vehiclesBg{
  background-image: url(../src/img/vehicleBg.jpg);
}


.guyCelebrities{
  background-image: url(../src/img/guyCelebrities.png);
}
.guyFilms{
  background-image: url(../src/img/guyFilms.png)
}
.guyGenKnowledge {
  background-image: url(../src/img/guyGeneral.png);
}
.guyGeography {
  background-image: url(../src/img/guyGeography.png);
}
.guyHistory {
  background-image: url(../src/img/guyHistory.png);
}
.guyMusic {
  background-image: url(../src/img/guyMusic2.png);
}
.guySports {
  background-image: url(../src/img/guySports.png);
}
.guyTv{
  background-image: url(../src/img/guyTv.png)
}
.guyVehicles{
  background-image:url(../src/img/guyVehicles.png)
}

.guy {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0 0 50px;
}


.generalBg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.genContainer {
  background-color: black;
  height: 350px;
  width: 800px;
  margin: 20px 0 0 100px;
}
.genBtn {
  margin: 5% auto;
  width: 500px;
  color: black;
  font-size: 20px;
  background-color: rgb(228, 163, 41);
}


.mainContainer {
  width: 900px;
  height: 600px;
  border: 2px solid black;
  border-radius: 20px 20px;
  margin: 14% auto;
  background-color: black;
  color: rgb(228, 163, 41);
}
h2 {
  margin: 60px 80px 0 80px;
}
.headingBox {
  height: 100px;
}
.nextBtn {
  clip-path: polygon(0 26%, 59% 26%, 59% 5%, 100% 50%, 60% 92%, 59% 71%, 0 71%);
  height: 50px;
  width: 80px;
  padding-right: 75px;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  background-color: rgb(228, 163, 41);
}
.nextBtn:hover,
.backBtn:hover,
.genBtn:hover {
  background-color: rgb(228, 163, 41);
}

.backBtn {
  clip-path: polygon(
    40% 1%,
    41% 28%,
    100% 28%,
    100% 71%,
    40% 71%,
    39% 95%,
    0% 50%
  );
  height: 50px;
  width: 80px;
  padding-left: 20px;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  background-color: rgb(228, 163, 41);
}
.coin {
  width: 75px;
  height: 75px;
  background-image: url(../src/img/rsz_bag-147782_1280.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.scoreBox {
  width: 220px;
  height: 90px;
  color: rgb(228, 163, 41);
  background-color: black;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  padding-left: 20px;
  border-radius: 40px 40px;
}
.scoreBox div {
  display: inline-block;
}
.score {
  margin-top: 10px;
}

.home {
  width: 60vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/img/quiz-2074324_1920.png);
  margin: 5% auto;
}
.homeBg {
  background-image: url(../src/img/nathan-dumlao-J2gEgTPM_OA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.gen-bground {
  background-image: url(../src/img/category-homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}
